*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: cascadia code;
    color: purple;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(206, 255, 255);
    gap: 50px;
}

h2{
    text-align: center;
}

.circle{
    background-color: palevioletred;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.palito{
    background-color: beige;
    height: 150px;
    width: 10px;
}

#pirulito{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: balançar 2.0s infinite ease-out;
}
@keyframes balançar{
    0%{
        transform: rotateZ(0);
    }
    25%{
        transform: rotateZ(30deg);
    }
    50%{
        transform: rotateZ(0);
    }
    75%{
        transform: rotateZ(-30deg);
    }
    100%{
        transform: rotateZ(0);
    }
}

.barra{
    width: 120%;
    height: 16%;
    border-radius: 8px;
    background-color: palevioletred;
    border: 3px solid rgb(194, 97, 129);
}

#frase{
    font-size: 1vh;
    position: absolute;
    z-index: 999;
    opacity: 0.15;
}